<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rad sa studentima</title>
</head>
<body>
    <h1>Rad sa studentima</h1>

    <!-- Forma za dodavanje novog studenta -->
    <h2>Dodaj novog studenta</h2>
    <form id="add-student-form">
        <label for="name">Ime:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="age">Godine:</label>
        <input type="number" id="age" name="age"><br><br>
        <button type="submit">Dodaj studenta</button>
    </form>

     
 

    
    <script>

        
              // JavaScript zahtevi za komunikaciju sa backendom
        const addStudentForm = document.getElementById('add-student-form');


        

        // Event listener za dodavanje novog studenta
        addStudentForm.addEventListener('submit', event => {
            event.preventDefault();
            const formData = new FormData(addStudentForm);
            const newStudent = {
                name: formData.get('name'),
                age: formData.get('age')
            };
            fetch('/students', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(newStudent)
            })
            .then(() => {
                getStudents(); // Osveži listu studenata nakon dodavanja novog studenta
                addStudentForm.reset(); // Resetuj formu za dodavanje studenta
            });
        });

        // Pozovi funkciju za prikaz svih studenata prilikom učitavanja stranice
        getStudents();
    </script>
</body>
</html>
